<!-- <div  style="width: 100%;background-color: rgb(117, 241, 215);" > -->
<div class="row w-50 mx-auto my-5 mx-3" style="display: 80%;   ">
    <div class="card text-center " style="margin-top: 25%; background-color: rgb(236, 236, 245);">
        <div class="card-header">
            <h2>Portal</h2>
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title"><h5>End Semester Exams</h5>

                <div class="row  ">
                    <div class=" col-lg-10  ">
                        <button  class="btn btn-primary rounded-pill margin-top:4 " style="width: 50%;margin-left: 25%; margin-bottom: 4%;" type="button"
                            (click)="toggleUser()">
                            user login
                        </button>
                    </div>
                </div>
                <form [formGroup]="userForm" novalidate *ngIf="showUser">
                    <div class="form-outline ">
                        <!-- Name -->
                        <input formControlName="name" type="name" id="typeEmailX-2" class="form-control mb-3 "
                            placeholder="Enter Your Name" style="width: 50%;margin-left:25%; margin-top: 10px;" />
                        <p style="color: red; " *ngIf="name?.invalid &&name?.touched">Name is required
                        </p>
                        <span>
                            <button type="button" class="btn btn-primary rounded-pill margin-top:4;" style="width: 42%;margin-left: 5%;"
                                [disabled]="!userForm.valid" (click)="exam()">Click to Start Exam</button>
                        </span>

                    </div>
                </form>
                <div class="card-footer text-muted">
                </div>
                <div class="row  ">
                    <div class="col-lg-10  ">
                        <button class="btn btn-primary rounded-pill margin-top:4;" style="width: 50%;margin-left: 25%;" type="button"
                            (click)="toggleAdmin()">admin login</button>
                    </div>
                </div>
                <div *ngIf="showAdmin">
                    <div class="text-center" style="border: px solid transparent; background: white;">
                        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                            <!--<p class="h4 mb-4 text-center">Login</p>-->
                            <!--Alert not success-->
                            <div *ngIf="" && !errorMessage class="alert alert-danger" role="alert">
                                Invalid! Email or Password
                            </div>
                            <div class="form-outline ">
                                <!-- Email -->
                                <!-- <label>Email</label> -->
                                <input formControlName="email" type="email" id="typeEmailX-2" class="form-control mb-3 "
                                    placeholder="E-mail" style="width: 50%;margin-left:25%; margin-top: 10px;" />
                                <p style="color: red; " *ngIf="email?.invalid &&email?.touched">Email is required
                                <p>
                                    <!-- Password<label>Password</label> -->
                                    <input formControlName="password" type="password" id="typePasswordX-2"
                                        class="form-control mb-3 margin-top:4;" placeholder="Password"
                                        style="width: 50%;margin-left:25%; margin-top: 10px;" />
                                <p style="color:red;" *ngIf="password?.invalid &&password?.touched">Password is
                                    required</p>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success rounded-pill margin-top:4;"
                                    style="width: 42%;margin-left: 30%;" type="button" [disabled]="!loginForm.valid"
                                    (click)="login()" [routerLink]="">LOG IN</button>
                            </div>
                        </form>
                    </div>
                </div>
           
 
   

