<h1>
    <div class="container mt-sm-5 my-5">
        <div class="question ml-sm-5 pl-sm-5 pt-2" *ngIf="hasData" >
            <form #dataForm="ngForm" (ngSubmit)="submitResponse(question)">
                <div class="py-2 h5 card px-3 bg-success" id="options">

                    <b name="questions">Q.no- {{question.id}} {{question.question }} </b>
                </div>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                    <label class="options"><b>{{question.answer }}</b>
                        <input type="radio" name="answer" value="{{question.answer}}" [(ngModel)]="ans">
                        <span class="checkmark"></span>
                    </label>
                    <label class="options"><b>{{question.option2 }}</b>
                        <input type="radio" name="option2" value="{{question.option2}}" [(ngModel)]='ans'>
                        <span class="checkmark"></span>
                    </label>
                    <label class="options"><b>{{question.option3 }}</b>

                        <input type="radio" name="option3" value="{{question.option3}}" [(ngModel)]='ans'>
                        <span class="checkmark"></span>
                    </label>
                    <label class="options"><b>{{question.option4 }}</b>

                        <input type="radio" name="option4" value="{{question.option4 }}" [(ngModel)]='ans'>
                        <span class="checkmark"></span>
                    </label>

                    <!-- <button type="submit" class="btn btn-primary float-right" >Nextsubmit </button> -->

                    <button class="btn btn-primary float-right" type="submit">Next</button>
                    <button class="btn btn-danger">Previous</button>
                </div>
            </form>
        </div>
        <div *ngIf="!hasData">
                 <div>
                    No Questions are availabile
                 </div>

        </div>
    </div>
</h1>